datahub/ADF/pipeline/customersales.json
{
	"name": "customersales",
	"properties": {
		"activities": [
			{
				"name": "Get metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "MetadataRepository",
						"type": "DatasetReference",
						"parameters": {
							"env": {
								"value": "@pipeline().parameters.env",
								"type": "Expression"
							},
							"metadataFilename": {
								"value": "@pipeline().parameters.metadataFilename",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Filter by run",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get metadata').output.firstRow.tables",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().run, true)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"env": {
				"type": "string",
				"defaultValue": "dev"
			},
			"metadataFilename": {
				"type": "string",
				"defaultValue": "metadata.customersales.import.v1.json"
			}
		},
		"folder": {
			"name": "etl/medallion"
		},
		"annotations": []
	}
}